* {
	--black: #000000;
	--brown: #422800;
	--green: #3ea745;
	--white: #e0e5e2;

	--width: 0.125rem;
	--2xWidth: 0.25rem;
	--3xWidth: 0.5rem;
	--4xWidth: 1rem;
	--5xWidth: 2rem;

	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--size: 60px;
}

body {
	font-family: system-ui, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background:
		repeating-conic-gradient(var(--brown) 0% 25%, var(--white) 0% 50%) 0 0 /
		var(--size) var(--size);
	padding-top: 1rem;
}

.card {
	padding: 1rem;
	border: var(--3xWidth) solid var(--brown);
	box-shadow: var(--4xWidth) var(--4xWidth) var(--brown);
	border-radius: var(--5xWidth);
	display: flex !important;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: left;
	gap: var(--3xWidth);
	background-color: var(--green);
	max-width: 25%;
	max-height: 30%;
	border-radius: var(--5xWidth);
}

.poster {
	max-width: 100%;
	height: auto;
	margin-bottom: 1rem;
	border-radius: var(--5xWidth);
}

.title {
	font-size: 2rem;
	margin: 0;
}

.year {
	color: var(--brown);
}

.overview {
	margin-top: 1rem;
	line-height: 1.4;
	padding-bottom: 1rem;
	text-overflow: ellipsis;
	max-height: 10ch;
	overflow: hidden;
	white-space: normal;
	margin-bottom: 0.5rem;
}

a:visited,
a {
	color: var(--black);
	text-decoration: none;
}

fieldset {
	border: 0;
}

input {
	background-color: var(--white);
	border: var(--width) solid var(--brown);
	border-radius: var(--5xWidth);
	box-shadow: var(--brown) var(--width) var(--width) 0 0;
	color: var(--brown);
	cursor: pointer;
	display: inline-block;
	font-weight: 600;
	font-size: 0.75rem;
	padding: 0 var(--4xWidth);
	line-height: 3.125rem;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

input:hover {
	background-color: var(--green);
}

input:active {
	box-shadow: var(--brown) var(--width) var(--width) 0 0;
	transform: translate(var(--width), var(--width));
	color: var(--green);
}

#anotherBtn {
	background-color: var(--green);
	border: var(--width) solid var(--brown);
	border-radius: var(--5xWidth);
	box-shadow: var(--brown) var(--2xWidth) var(--2xWidth) 0 0;
	color: var(--white);
	cursor: pointer;
	font-weight: 600;
	font-size: 0.875rem;
	padding: 0 var(--4xWidth);
	line-height: 3.125rem;
	text-align: center;
	text-decoration: none;
	margin-top: var(--3xWidth);
}

#anotherBtn:hover {
	background-color: var(--brown);
}

#anotherBtn:active {
	box-shadow: var(--brown) var(--width) var(--width) 0 0;
	transform: translate(var(--width), var(--width));
	color: var(--brown);
	border: var(--width) solid var(--brown);
}
#anotherBtn:active:hover {
	box-shadow: var(--brown) var(--width) var(--width) 0 0;
	transform: translate(var(--width), var(--width));
	color: var(--white);
	border: var(--width) solid var(--brown);
}
